.toggle-switch {
  width: 3.125em;
  height: 1.5625em;
  background: linear-gradient(to right, #dee2e6, #f8f9fa);
  border-radius: 1.5625em;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-circle {
  width: 1.25em;
  height: 1.25em;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0.1875em;
  transform: translateY(-50%);
  box-shadow: 0em 0.125em 0.3125em rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.toggle-switch.on {
  background: linear-gradient(to right, #f8f9fa, #dee2e6);
}

.toggle-switch.on .toggle-circle {
  left: 1.5625em;
}
