.subredditsPage {
    width: 88%;
    margin-left: 25em;
    margin-top: 70px;
}

.header {
    margin-left: 60px;
}

.headerContent {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    font-size: 32px;
    text-align: start;
    margin-left: 20px;
}

.loading {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 2px;
    margin: 100px 0 0 auto;
}

.members {
    font-size: 14px;
    margin-left: auto;
    margin-right: 65px;
}

.description {
    margin-bottom: 30px;
    margin-left: 15px;
    width: 91%;
    font-size: 15px;
}

.hrDescription {
    width: 95%;
}

.icon {
    width: 80px;
    border-radius: 100px;
}