.rightSideBar {
    position: sticky;
    top: 4.6875em;
    align-self: flex-start; 
    border: 0.0625em;
    border-radius: 0.9375em;
    background-color: #F6F8F9;
    padding: 0.625em 0.5em;
    margin-right: 2em; 
    margin-left: auto;
    margin-top: 11em;
    width: 17%;
}

.rightSideBar.dark {
    background-color: #101010;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
    text-align: center;
}

.isLoading {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
    padding: 0.125em;
    margin: 18.75em 3.125em 0 auto;
}

@media only screen and (min-width: 1450px) {
    .rightSideBar {
        margin-top: 18em;
        margin-right: 2.5em;
    }
}

@media only screen and (max-width: 1300px) {
    .rightSideBar {
       display: none;
    }
}
