.firstRow {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
}

.name {
    font-size: 1em;
    margin-left: 6px;
}

.members {
    font-size: 0.8em;
    margin-left: 35px;
    margin-bottom: 15px;
}