.firstRow {
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    margin-left: 10px;
}

.name {
    font-size: 1em;
    margin-left: 8px;
}

.members {
    font-size: 0.8em;
    margin-left: 48px;
    margin-bottom: 15px;
}