.firstRow {
    display: flex;
    margin-bottom: 0.125em;
    align-items: center;
    margin-left: 0.625em;
}

.name {
    font-size: 1em;
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
}

.members {
    font-size: 0.8em;
    margin-left: 3em;
    margin-bottom: 0.9375em;
}
